:root {
    --yellow: #fff148;
    --yellow-Fade: #faf4af;
    --black #000000;
}

#next {
    background-color: black !important;
    border: 1px solid black !important;
    border-radius: 1000px !important;
    color: var( --yellow) !important;
    width: 100% !important;
}

    #next:hover {
        background-color: #5c5c5c !important;
        color: var(--yellow) !important;
        border: 1px solid #5c5c5c !important;
    }

#continue{
    background-color: black !important;
    border: 1px solid black !important;
    border-radius: 1000px !important;
    color: var( --yellow) !important;
    width: 100% !important;
}

    #continue:hover {
        background-color: #5c5c5c !important;
        color: var(--yellow) !important;
        border: 1px solid #5c5c5c !important;
    }

input {
    border: none !important;
    border-bottom: 2px solid black !important;
    border-radius: 0 !important;
    padding: 0.375rem 0rem !important;
}

    input .highlightError {
        border: none !important;
        border-bottom: 2px solid red !important;
        border-radius: 0 !important;
        padding: 0.375rem 0rem !important;
    }

    input:focus {
        border-bottom: 2px solid var(--yellow) !important;
    }


.sendCode, .verifyCode, .sendNewCode, .changeClaims {
    background-color: black !important;
    border: 1px solid black !important;
    border-radius: 1000px !important;
    color: var( --yellow) !important;
    width: 100% !important;
}

.sendCode:hover, .verifyCode:hover, .sendNewCode:hover, .changeClaims:hover {
    background-color: #5c5c5c !important;
    color: var(--yellow) !important;
    border: 1px solid #5c5c5c !important;
}

button[aria-disabled=true] {
    background-color: #575757 !important;
    border: 1px solid #575757 !important;
    border-radius: 1000px !important;
    color: var( --yellow-Fade) !important;
    width: 100% !important;
}

.heading {
    display: none;
}

label{
    display: none;
}
/*#createAccount {
    visibility: hidden;
    font-size: 0;*/
    /* collapse extra space */
/*}

    #createAccount::before {
        content: "Register";
        visibility: visible;
        font-size: 16px;*/
        /* reset font size */
        /*font-weight: bold;
        background-color: white !important;
        border: 2px solid black !important;
        border-radius: 1000px !important;
        color: black !important;
        width: 100% !important;
    }*/